﻿
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>




<body class="w3-light-grey">





    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="~/images/Me.png" style="width:100%; max-height:500px" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-white">
                            <h2>Andrew Calderwood</h2>
                        </div>
                    </div>
                    <div class="w3-container" style="padding-top:5px; overflow:unset">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Edinburgh, UK</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Andrew.calderwood93@gmail.com</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>At Request</p>
                        <p><i class="fa fa-linkedin fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://www.linkedin.com/in/andrewc93/" target="_blank">My Linkedin</a></p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Technical Skills</b></p>
                        <p>C#</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">100%</div>
                        </div>
                        <p>Javascript</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">
                                <div class="w3-center w3-text-white">90%</div>
                            </div>
                        </div>
                        <p>MySQL</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
                        </div>
                        <p>HTML</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
                        </div>
                        <p>ASP.NET</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
                        </div>
                        <p>CSS</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                        </div>
                        <p>Git</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                        </div>
                        <p>Ext JS/ Ext.Net</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
                        </div>


                        <p>Java</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">40%</div>
                        </div>
                        <p>C++</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:35%">35%</div>
                        </div>
                        <hr />
                        
                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills I'm actively learning</b></p>
                        <p>Bootstrap</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:35%">35%</div>
                        </div>
                        <p>Angular JS</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:30%">30%</div>
                        </div>
                        <hr />
                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Soft Skills</b></p>
                        <p>Time Management</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">&nbsp;</div>
                        </div>
                        <p>Communication</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">&nbsp;</div>
                        </div>
                        <p>Troubleshooting</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">&nbsp;</div>
                        </div>
                        <p>Critical thinking</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">&nbsp;</div>
                        </div>
                        <br>
                    </div>
                </div>


                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About Me</h2>
                    <div class="w3-container">
                        <p>
                            I am an Edinburgh based web developer with three years professional experience, currently working in the financial sector. My job consists of mainly C# and Java script programming with a strong focus on data centric web apps built using ASP.Net and relational databases (MySQL).
                            I have helped to develop and maintain a fully featured in-house solution for Save &amp; Invest that is used for all aspects of the business.


                        </p>
                        <p>This has often meant working independently to sometimes very short deadlines to create a solution for an immediate business problem. This has improved my problem solving skills and my ability to design solutions to problems quickly</p>
                        <p>
                            I am confident in coordinating others and keep sight of the bigger picture to ensure that all targets are met. I enjoy working on challenging tasks and being able to thrive under high pressured situations.
                        </p>
                    </div>

                </div>

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Lead Developer / Save &amp; Invest Financial Planning</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                        <p>My responsibilities in this role are to manage a small team of five developers to ensure all deadlines are met on time and that we are able to provide quality solutions for each problem. Through this position i have learned to prioritize issues and delegate work to the most suitable person. while implementing a large number of important projects myself. </p>
                        <p>
                            Things I've worked on in this role :
                            <ul>
                                <li>Overhauling existing client fees implementation</li>
                                <li>Developed a system to allow staff to test client portfolios against house rules to ensure a high standard of service and accuracy</li>
                            </ul>
                        </p>

                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Trainee Developer / Save &amp; Invest Financial Planning</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2015 - Sep 2016</h6>
                        <p>
                            For this role i was required to quickly get to grasps with the inner workings of the business and how it operated so that i was able to develop quality solutions.
                            During my time as a Trainee developer I managed to improve my skills as a developer while also becoming an invaluable member of the team and gaining great knowledge of the business which allowed me to be promoted to Lead Developer after 1.5 Years
                        </p>

                        Some things I Worked on :
                        <ul>
                            <li>Overhauled client portfolio/Valuations system</li>
                            <li>Replaced existing WYSIWYG document editor with a more fit for purpose solution</li>
                            <li>Implemented systems to allow staff to more efficiently carry out client valuation updates with less errors</li>

                        </ul>
                        <hr>
                    </div>

                </div>

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>The University of Abertay Dundee</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010-2014</h6>
                        <p>2:1 Honours degree - Computer Games Application Development</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>St Josephs Academy</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2010</h6>
                        <p>Secondary School</p>
                        <hr>
                    </div>

                </div>
                <div class="w3-container w3-card w3-white w3-margin-top">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-fw fa-snapchat w3-margin-right w3-xxlarge w3-text-teal"></i>Hobbies</h2>
                    <div class="w3-container">
                        <p>
                            Although my professional life is centered around development, I still enjoy working on projects in my own time.
                        </p>
                        <p>
                            Outside of work I enjoy playing Airsoft with friends as it encourages quick decision making and team work. I have managed to bring my love of development together with this by creating a website to provide information and pictures of the various events and locations around Scotland.
                            This can be viewed <a href="http://clansmen-airsoft.co.uk" target="_blank" class="w3-text-teal"> Here</a>
                        </p>
                        <p>
                            I also enjoy learning new technologies and keeping up to date with the trend in modern development. For example although my current position does not require it i have been learning AngularJS and Bootstrap in my own time to improve my front end design skills.
                        </p>
                    </div>
                </div>
                <div class="w3-container w3-card w3-white w3-margin-top" style="display:none">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>CV</h2>

                    <p style="align-content:center; text-align:center; padding: 0px 10px 30px 10px;">
                        <a class="w3-button">Download</a>
                    </p>
                </div>


                <!-- End Right Column -->
            </div>


            <!-- End Grid -->

        </div>
        <div class="w3-row-padding">
            <div style="padding: 0 8px">
                <div class="w3-container w3-card w3-white w3-margin-top">
                    <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Testimonials</h3>
                    <div class="w3-row">
                        <div class="w3-col m4 l4">
                            <p class="w3-text-teal" style="font-weight: 900;">
                                "I was incredibly impressed with how quickly the product was turned around and how accommodating Andrew was of feedback and adaptations."
                            </p>

                        </div>
                        <div class="w3-col m4 l4">
                            <p class="w3-text-teal" style="font-weight: 900;">

                            </p>

                        </div>
                        <div class="w3-col m4 l4">
                            <p class="w3-text-teal" style="font-weight: 900;">

                            </p>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m4 l4">

                            <h4 class="w3-text-grey w3-padding-16" style="margin-bottom:5px;"> - <a href="https://www.linkedin.com/in/rury-nelson-21418447/" target="_blank">Rury Nelson</a></h4>
                        </div>
                        <div class="w3-col m4 l4">

                            @*<h4 class="w3-text-grey w3-padding-16" style="margin-bottom:5px;"> - <a href="https://www.linkedin.com/in/gytis-rudzinskis-52039655/" target="_blank"> Gytis Rudzinskis</a></h4>*@
                        </div>
                        <div class="w3-col m4 l4">

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- End Page Container -->
        <!-- This is for Rury, Please dont judge me for this-->

    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">

        <p style="padding-top:25px; padding-bottom:25px; font-size:18px">“Without requirements or design, programming is the art of adding bugs to an empty text file.” - Louis Srygley</p>
    </footer>



</body>
</html>
